@import "tailwindcss";

:root {
  --background: #fefefb;
  --foreground: #14210a;
  --primary-100: #e3f4da;
  --primary-700: #2a5f16;
  --secondary-100: #ffe4cc;
  --secondary-500: #f2793a;
  --secondary-800: #732d08;
  --secondary-900: #331200;
  --accent-500: #f2b705;
}

@theme inline {
  /* fonts */
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  /* colors

  60% main color + variations
  30% secondary colors
  10% for accent

  */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-50: #f2fbe9;
  --color-primary-100: var(--primary-100);
  --color-primary-500: #6fb54f;
  --color-primary-700: var(--primary-700);

  --color-secondary-50: #fff7f0;
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: #ecc29c;
  --color-secondary-500: var(--secondary-500);
  --color-secondary-700: #b24810;
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-accent-500: var(--accent-500);

  /* radius & shadows */

  --radius-card: 1rem;
  --shadow-soft: 0 2px 8px rgb(0, 0, 0, 0.08);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #14210a;
    --foreground: #f2fbe9;
    --primary-100: #2a5f16;
    --primary-700: #7ecb54;
    --secondary-100: #3a2417;
    --secondary-500: #d9692e;
    --secondary-800: #f2c9a8;
    --secondary-900: #ffe4cc;
    --accent-500: #f2c94c;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading) sans-serif;
}
